.badge-purple { background-color: purple; color: white; }
.badge-orange { background-color: orange; color: white; }
.badge-brown  { background-color: brown; color: white; }
.badge-pink   { background-color: pink; color: white; }
.badge-light  { background-color: #f8f9fa; color: black; }